:root {
	--lime: rgb(182, 233, 0);
	--blue: rgb(108, 122, 247);
	--blue2: rgb(75, 92, 245);
	--blue3: rgb(48, 68, 245);
	--lime2: rgb(120, 153, 0);
	--lime3: rgb(72, 92, 2);
	--grey: rgb(17, 17, 17);
	--white: rgb(182, 182, 182);
}

.about-me {
	background-color: rgb(59, 62, 77);
	text-align: center;
	padding: 80px;
	padding-top: 6vw;
	padding-bottom: 10vw;

	h3 {
		color: #a0a0b6;
		font-size: 3vw;
	}
	p {
		padding: 0px 12vw;
		font-size: 2vw;
		font-weight: 400;
		color: #a0a0b6;
	}
}

.projects {
	padding: 80px 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about-btn {
	margin: 5vw;
	transition: 0.7s;
	border: transparent;
	border-radius: 6px;
	background-color: var(--lime);
	p {
		color: rgb(49, 49, 49);
		font-weight: 500;
	}
	animation-name: glow1;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
.about-btn:hover {
	cursor: pointer;
	background-color: var(--grey);
	transform: translateY(-10px);
	border-radius: 40px;
	p {
		color: var(--lime);
	}
	animation-name: glow2;
	animation-duration: 3s;
}

@media screen and (max-width: 600px) {
	table #project {
		min-width: 0;
	}
	table #title {
		min-width: 0;
	}
}

section a {
	color: rgb(233, 227, 110);
}

.headshot-about {
	width: 335px;
	border-radius: 50%;
	padding: 10px;
}

@media screen and (max-width: 440px) {
	.about-me {
		h3 {
			font-size: 8vw;
		}
		p {
			padding: 0 5vw;
			font-size: 4vw;
		}
	}
}

@media screen and (max-width: 1000px) {
	.headshot-about {
		padding: 10px;
		margin-left: -10px;
	}

	.about-image img {
		width: 70%;
		position: absolute;
		justify-content: center;
		background-size: contain;
		padding: 20px;
		border-radius: 30px;
		margin-top: -60px;
		opacity: 80%;
	}
}

/**Animations*/

@keyframes glow1 {
	0% {
		box-shadow: none;
	}
	60% {
		box-shadow: -5px 5px 65px -25px var(--lime);
	}
	100% {
		box-shadow: none;
	}
}

@keyframes glow2 {
	0% {
		box-shadow: none;
	}
	60% {
		box-shadow: inset -5px 35px 45px -55px rgba(200, 255, 0, 0.719);
	}
	100% {
		box-shadow: none;
	}
}
