.about {
	width: 100%;
}
.about-image {
	display: flex;
	justify-content: center;
	margin-top: 0px;
	width: 100%;
}

.about-image img {
	width: 70%;
	position: absolute;
	justify-content: center;
	background-size: contain;
	padding: 20px;
	border-radius: 30px;
	margin-top: -140px;
	opacity: 80%;
}
.about-image h3 {
	transition: 0.7s;
	display: flex;
	position: absolute;
	top: 50px;
	color: #b0b0ba3a;
}
.abou {
	transition: 0.7s;
}
.about-me {
	background-color: rgb(59, 62, 77);
	text-align: center;
	padding: 80px;
	padding-top: 20vw;
	padding-bottom: 30vw;
	h3 {
		color: #a0a0b6;
		font-size: 5vw;
	}
	p {
		padding: 0px 12vw;
		font-size: 2.5vw;
		font-weight: 400;
		color: #a0a0b6;
	}
}

.projects {
	padding: 80px 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about-btn {
	margin: 5vw;
}
.about-btn:hover {
	cursor: pointer;
	p {
		color: rgba(78, 78, 78, 0.678);
	}
}

@media screen and (max-width: 600px) {
	table #project {
		min-width: 0;
	}
	table #title {
		min-width: 0;
	}
}

section a {
	color: rgb(233, 227, 110);
}

.headshot-about {
	width: 335px;
	border-radius: 50%;
	padding: 10px;
}

@media screen and (max-width: 1000px) {
	.headshot-about {
		padding: 10px;
		margin-left: -10px;
	}

	.about-image img {
		width: 70%;
		position: absolute;
		justify-content: center;
		background-size: contain;
		padding: 20px;
		border-radius: 30px;
		margin-top: -60px;
		opacity: 80%;
	}
}
