:root {
	--lime: rgb(182, 233, 0);
	--blue: rgb(108, 122, 247);
	--blue2: rgb(75, 92, 245);
	--blue3: rgb(48, 68, 245);
	--lime2: rgb(120, 153, 0);
	--lime3: rgb(72, 92, 2);
	--grey: rgb(17, 17, 17);
	--white: rgb(182, 182, 182);
}

.divspace {
	height: 200px;
}

/**Main-Section*/
.main-section {
	display: flex;
	align-items: center;
	margin: 0px 12vw;
	transition: 0.7s;
	background-image: -webkit-linear-gradient(
		rgb(41, 43, 53),
		rgb(38, 42, 61),
		rgba(35, 43, 114, 0.411),
		rgba(35, 43, 114, 0.527),
		rgba(35, 43, 114, 0.411),
		rgb(38, 42, 61),
		rgb(41, 43, 53)
	);
}
.main-section:hover {
	margin: 0px 10vw;
	transition: 0.7s;
	.headshot {
		width: 20vw;
		animation-name: glowblue;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
		transition: 0.6s;
	}
	.introduction p {
		transition: 0.7s;
		font-size: 1.4vw;

		background: -webkit-linear-gradient(0deg, #fafafa, #fafafabb);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.introduction .intro-p {
		color: rgb(182, 233, 0);
		animation-name: glowlime;
		animation-duration: 4s;
		animation-iteration-count: initial;
		transition: ease-in-out 2s;
	}
	.highlight {
		color: var(--lime);
	}
	.arrow {
		border: solid var(--lime2);
		border-width: 0 5px 5px 0;
		padding: 7px;
		margin-top: 25px;
		display: inline-block;
		transform: rotate(45deg);
	}
}
.headshot {
	transition: 0.6s;
	width: 16vw;
	border-radius: 100%;
	padding: 50px;
	flex-direction: column;
	justify-items: center;
}
.introduction {
	margin-top: 0px;
	width: 40vw;
	padding: 3vw;
	border-left: 3px solid rgb(255, 255, 255);
}
.intro-title {
	display: inline-flex;
}
.space {
	color: transparent;
	font-size: 2.55vw;
}
.highlight {
	color: rgb(155, 197, 2);
}
.introduction p {
	transition: 0.7s;
	font-size: 1.4vw;
	background: -webkit-linear-gradient(0deg, #fafafa, #fafafa41);
	-webkit-background-clip: text;
	-webkit-text-fill-color: rgba(0, 0, 0, 0.151);
}
.introduction .intro-p {
	color: rgb(120, 153, 0);
	font-family: montserrat;
	font-weight: 400;
	font-size: 1rem;
	transition: 7s;
}
.introduction a {
	display: block;
	font-size: 0.9vw;
	color: rgba(255, 255, 255, 0.418);
	padding-bottom: 4vw;
}
.introduction a:hover {
	color: rgba(255, 255, 255, 0.527);
	cursor: pointer;
}

/**Latest-projects*/
.projects {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Montserrat, Arial, Helvetica, sans-serif;
}
.projects h1 {
	text-align: center;
	padding-top: 18vw;
	padding-bottom: -10px;
}
.wrapper {
	width: 100%;
	height: 100%;
	padding: 100px 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.wrapper:hover {
	zoom: 102%;
}

.container {
	height: 400px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: start;
}

.card {
	width: 80px;
	border-radius: 0;
	background-size: cover;
	cursor: pointer;
	overflow: hidden;
	border-radius: 1rem;
	margin: 0 10px;
	display: flex;
	align-items: flex-end;
	transition: 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
	box-shadow: 0px 10px 20px -5px rgb(0, 0, 0);
}

.card[for="c1"] {
	background-image: url(../images/5.jpg);
}
.card[for="c2"] {
	background-image: url(../images/2.jpg);
}
.card[for="c3"] {
	background-image: url(../images/3.jpg);
}
.card[for="c4"] {
	background-image: url(../images/Calculator.JPG);
}

#ci1:hover {
	#i1 {
		animation-name: glowlime2;
		animation-duration: 4s;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
	}

	transform: translateX(-10px);
	transition: 1s;
}
#ci2:hover {
	#i2 {
		animation-name: glowlime2;
		animation-duration: 4s;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
	}

	transform: translateY(-10px);
	transition: 1s;
}
#ci3:hover {
	#i3 {
		animation-name: glowlime2;
		animation-duration: 4s;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
	}

	transform: translateY(-10px);
	transition: 1s;
}
#ci4:hover {
	#i4 {
		animation-name: glowlime2;
		animation-duration: 4s;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
	}

	transform: translateX(10px);
	transition: 1s;
}
.card > .row {
	color: white;
	display: flex;
	flex-wrap: nowrap;
}
.card > .row > .icon {
	background: linear-gradient(
		45deg,
		rgb(0, 0, 0),
		rgb(12, 12, 12),
		rgb(5, 5, 5)
	);
	color: var(--lime2);
	font-weight: 500;
	border-radius: 50%;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 15px;
}
.card > .row > .description {
	display: flex;
	justify-content: center;
	flex-direction: column;
	overflow: hidden;
	height: 80px;
	width: 520px;
	opacity: 0;
	transform: translateY(0px);
	transition-delay: 0.3s;
	transition: all 0.3s ease;
}
.description p {
	color: #b0b0ba;
	padding-top: 0px;
	margin-bottom: 20px;
	margin-top: -5px;
}
.description h4,
a {
	text-decoration: none;
}
.description h4 {
	z-index: 1;

	text-transform: uppercase;
	height: 10px;
	color: var(--lime2);
	text-shadow: 0px 0px 5px black;
	transition: 0.7s;
}
.description h4:hover {
	letter-spacing: 0.2vw;
	transition: 0.7s;
}
input {
	visibility: hidden;
}
input:checked + label {
	width: 600px;
}
input:checked + label .description {
	opacity: 1 !important;
	transform: translateY(0px) !important;
}

.btn1 {
	width: 100%;
	height: 4vw;
	margin-top: 5vw;
	display: flex;
	align-items: center;
	justify-content: center;
}
button {
	padding: 1.2vw 8vw;
	background-color: var(--blue);
	color: var(--grey);
	border: none;
	border-radius: 4px;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.315);
	font-family: montserrat, sf pro display, sans-serif, arial;
	font-size: 1vw;
	font-weight: 500;
	transition: 0.4s;
	font-size: 1.4vw;
}
button:hover {
	background-color: var(--grey);
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.315);
	padding: 1.3vw 4.2vw;
	color: var(--lime2);
	font-family: montserrat, sf pro display, sans-serif, arial;
	font-size: 1.4vw;
	font-weight: 500;
	cursor: pointer;
	transform: translateY(-10px);
	transition: 0.7s;
	animation-name: glowlime3;
	animation-duration: 4s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
}

/**Service-section*/
.services-section {
	background-image: -webkit-linear-gradient(
		rgb(41, 43, 53),
		rgb(38, 42, 61),
		rgba(35, 43, 114, 0.411),
		rgba(35, 43, 114, 0.527),
		rgba(35, 43, 114, 0.411),
		rgb(38, 42, 61),
		rgb(41, 43, 53)
	);
	padding: 8vw 5vw;
}
.services-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.services-container h1 {
	width: 100%;
	padding: 10vw;
	text-align: center;
}
.services-card {
	display: block;
	color: black;
	background-color: var(--blue);
	width: 30vw;
	height: 14vw;
	border-radius: 10px;
	margin: 12px;
	padding: 2.8vw 3.8vw;
	padding-bottom: 3.8vw;
	justify-items: center;
	align-content: center;
	transition: 0.7s;
}
.services-card h4 {
	font-size: 1.4vw;
	font-weight: 600;
	width: 94%;
	text-align: left;
}
.services-card p {
	font-size: 1.2vw;
	align-content: center;
	width: 94%;
}
.services-card a {
	text-decoration: none;
	color: black;
	transition: 0.7s;
}
.services-card:hover {
	background-color: var(--blue3);
	color: var(--white);
	width: 31vw;
	transition: 0.7s;

	h4 {
		letter-spacing: 0.1vw;
		transition: 0.4s;
	}

	a {
		text-decoration: none;
		color: black;
		transition: 0.7s;
	}
}

/**Work-Section*/
.work-section {
	background-image: -webkit-linear-gradient(
		rgb(41, 43, 53),
		rgb(38, 42, 61),
		rgba(35, 43, 114, 0.411),
		rgba(35, 43, 114, 0.527),
		rgba(35, 43, 114, 0.411),
		rgb(38, 42, 61),
		rgb(41, 43, 53)
	);
	padding: 8vw 5vw;
}
.workCardContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.work-card {
	width: 20vw;
	height: 10vw;
	background-color: rgb(29, 31, 38);
	margin: 0.7vw 0.7vw;
	padding: 0 3.65vw 6.65vw 3.65vw;
	border-radius: 10px;
	transition: ease-out 0.4s;
}

.work-card:hover {
	zoom: 104%;
	margin-top: 0.5vw;
	margin: 0.7vw;
	height: 11vw;
	width: 21vw;
	border-color: rgba(128, 255, 255, 0.178);
	background-image: linear-gradient(
		rgb(29, 31, 38),
		rgba(128, 255, 255, 0.055)
	);
	animation: none;
	scroll-behavior: smooth;
	transition: ease-in-out;
	transition-duration: 0.4s;
}
#work h1 {
	font-size: 5vw;
}
.work-section h3 {
	font-size: 1.4vw;
	font-family: "montserrat";
	margin: 0;
	color: rgb(147, 100, 255);
	transition: ease-out 0.5s;
}
.work-section h3:hover {
	zoom: 104%;
	letter-spacing: 2px;
	transition: 0.6s;
	text-shadow: 2px 2px 30px rgba(146, 100, 255, 0.2);
}
.work-card p {
	width: 20vw;
}
.arrow {
	border: solid var(--lime2);
	border-width: 0 5px 5px 0;
	padding: 7px;
	margin-top: 0px;
	display: inline-block;
	transform: rotate(45deg);
}
.bounce {
	padding: 50px 0 0 50px;
	animation: bounce 2s infinite;
	transition: 0.9s;
}

/**AboutSection*/
.about-section {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
.quote-container {
	width: 40%;
	padding: 0px 40px;
}
.quote-container .quote {
	font-size: 3.4vw;
}
.about-container {
	width: 40vw;
	height: 28vw;
	padding: 0px 2.4vw;
	margin-bottom: 0vw;
	background-color: var(--blue2);
	border-radius: 10px;
	color: var(--grey);
	overflow-y: auto;
}
.about-container h2 {
	padding-top: 1.1vw;
	font-size: 1.5vw;
	font-style: italic;
	color: var(--white);
}
.quote {
	font-size: 4vw;
	font-style: italic;
}
.quote-container p {
	float: right;
}
.about-p {
	font-size: 1.5vw;
	font-weight: 400;
	color: var(--white);
}
.about-btn {
	background-color: var(--white);
	padding: 0.5vw 1.8vw;
	.btn-p {
		font-size: 0.9vw;
	}
}

/**WorkCardGlow*/
.html {
	border-top: solid 8px rgb(167, 255, 25);
	animation-name: glowred;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.htmlcss {
	border-top: solid 8px rgb(87, 110, 242);
	animation-name: glowblue;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.htmlcssjs {
	border-top: solid 8px rgb(20, 235, 134);
	animation-name: glowgreen;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.js {
	border-top: solid 8px rgb(237, 252, 39);
	animation-name: glowyellow;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.htmlcssjsreact {
	border-top: solid 8px rgb(62, 197, 238);
	animation-name: glowlightblue;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

/**mediaQuery*/
@media only screen and (max-width: 1210px) {
	.container:hover {
		zoom: 101%;
	}
}
@media only screen and (max-width: 1000px) {
	.bounce {
		padding: 80px 0 10px 0;
		transition: 0.9s;
		transition: ease-in-out;
	}

	.work-card {
		width: 100%;
		height: 10vw;
		margin: 1vw 1vw;
		transition: ease-out 0.4s;
	}

	.work-card:hover {
		zoom: 110%;
		width: 100%;
		margin: 1.4vw 0.7vw;
		border-color: rgba(128, 255, 255, 0.178);
		background-image: linear-gradient(
			rgb(29, 31, 38),
			rgba(128, 255, 255, 0.055)
		);
		animation: none;
	}
	.work-card p {
		width: 100%;
	}

	.services-card {
		width: 90%;
		height: 26vw;
		transition: 0.7s;
		h4 {
			font-size: 2.8vw;
		}
		p {
			font-size: 2.4vw;
		}
	}
	.services-card:hover {
		width: 90%;
		height: 28vw;
		transition: 0.7s;
	}

	.container {
		height: 100%;
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
		justify-content: start;
	}
	.container:hover {
		zoom: normal;
	}
	.card {
		width: 90vw;
		height: 50vw;
		border-radius: 0;
		background-size: cover;
		overflow: hidden;
		border-radius: 1rem;
		margin: 10px 10px;
		display: flex;
		align-items: flex-end;
		box-shadow: 0px 10px 20px -5px rgb(0, 0, 0);
	}

	input {
		width: 100%;
	}
	input:checked + label {
		width: 80vw;
	}

	input label,
	.description {
		opacity: 1 !important;
		transform: translateY(0px) !important;
	}
}

@media screen and (max-width: 907px) {
	.main-section {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0;
	}
	.main-section:hover {
		margin: 0;
		.headshot {
			width: 22vw;
		}
	}
	.introduction {
		width: 90vh;
		border-left: none;
		text-align: center;
	}
	.headshot {
		width: 20vw;
		margin-left: 0;
		margin-bottom: -10px;
		margin-top: -100px;
	}

	.introduction .intro-p {
		top: -100px;
	}
}

@media screen and (max-width: 440px) {
	.projects {
		margin-top: 0px;
	}
	.headshot {
		width: 50vw;
	}
	.introduction h1 {
		font-size: 4vw;
	}

	.introduction p {
		font-size: 3.5vw;
		padding: 2vw;
	}

	.introduction a {
		font-size: 3vw;
		padding: 2vw;
	}

	#work > h1 {
		font-size: 5vw;
	}

	.work-section h3 {
		font-size: 2.8vw;
	}

	.work-section h6 {
		font-size: 2vw;
		margin: 10px 0 8px;
	}

	.work-section p {
		width: 100%;
		font-size: 2.8vw;
	}

	.work-card {
		height: 100%;
	}

	.description p {
		color: #b0b0ba;
		padding-top: 0px;
		margin-bottom: 20px;
		margin-top: -5px;
	}
	.description h4,
	a {
		text-decoration: none;
	}
	.description h4 {
		z-index: 1;

		text-transform: uppercase;
		height: 10px;
		color: var(--lime2);
		text-shadow: 0px 0px 5px black;
		transition: 0.7s;
	}
	.description h4:hover {
		letter-spacing: 0.2vw;
		transition: 0.7s;
	}

	input {
		width: 100%;
	}
	input:checked + label {
		width: 80vw;
	}

	input label,
	.description {
		opacity: 1 !important;
		transform: translateY(0px) !important;
		h4 {
			font-size: 2.4vw;
		}
		p {
			font-size: 2.4vw;
		}
	}

	.services-card {
		width: 90%;
		height: 42vw;
		transition: 0.7s;
		h4 {
			font-size: 3.4vw;
		}
		p {
			font-size: 3.4vw;
		}
	}
	.services-card:hover {
		width: 90%;
		height: 44vw;
		transition: 0.7s;
	}

	.quote-container {
		width: 25vw;
	}

	.about-container {
		height: 55vw;
		width: 50vw;
		margin: 2vw;

		button {
			margin: 5vw 0;
			height: 10vw;
			width: 22vw;
		}
	}
	.about-btn {
		background-color: var(--white);
		padding: 0vw 0vw;
		.btn-p {
			font-size: 2.8vw;
			color: rgb(26, 26, 26);
		}
	}
	.about-container h2 {
		margin: 5px;
		padding-top: 5vw;
		font-size: 3.4vw;
	}

	.about-container p {
		margin: 5px;
		font-size: 2.8vw;
	}
}

/**Animations*/
@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-50px);
	}
	60% {
		transform: translateY(-30px);
	}
	70% {
		transform: translateY(-0px);
	}
	80% {
		transform: translateY(-10px);
	}
}

@keyframes glowred {
	0% {
		box-shadow: none;
	}
	20% {
		box-shadow: inset -5px 35px 35px -35px rgba(146, 144, 27, 0.384);
	}
	100% {
		box-shadow: none;
	}
}

@keyframes glowblue {
	0% {
		box-shadow: none;
	}
	60% {
		box-shadow: inset -5px 35px 35px -35px rgba(87, 110, 242, 0.527);
	}
	100% {
		box-shadow: none;
	}
}

@keyframes glowgreen {
	0% {
		box-shadow: inset -5px 35px 35px -35px rgba(27, 146, 91, 0.39);
	}
	20% {
		box-shadow: none;
	}
	50% {
		box-shadow: none;
	}
	100% {
		box-shadow: inset -5px 35px 35px -35px rgba(27, 146, 91, 0.39);
	}
}

@keyframes glowyellow {
	20% {
		box-shadow: none;
	}
	80% {
		box-shadow: inset -5px 35px 35px -35px rgba(224, 253, 61, 0.178);
	}
}

@keyframes glowlightblue {
	0% {
		box-shadow: none;
	}
	60% {
		box-shadow: inset -5px 35px 35px -35px rgba(62, 197, 238, 0.308);
	}
	100% {
		box-shadow: none;
	}
}

@keyframes glowlime {
	0% {
		text-shadow: none;
	}
	60% {
		text-shadow: 1px 1px 15px rgba(200, 255, 0, 0.719);
	}
	100% {
		text-shadow: none;
	}
}

@keyframes glowlime2 {
	0% {
		box-shadow: none;
	}
	60% {
		box-shadow: inset -5px 35px 35px -35px rgba(200, 255, 0, 0.719);
	}
	100% {
		box-shadow: none;
	}
}

@keyframes glowlime3 {
	0% {
		box-shadow: none;
	}
	60% {
		box-shadow: inset 0px 0px 25px 1px rgba(200, 255, 0, 0.068);
	}
	100% {
		box-shadow: none;
	}
}

@keyframes glowhite {
	0% {
		box-shadow: none;
	}
	60% {
		box-shadow: inset -5px 35px 30px -35px rgba(255, 255, 255, 0.137);
	}
	100% {
		box-shadow: none;
	}
}
